.file-uploads {
    width: auto;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
}

.btnC {
    display:flex;
    padding: 8px 20px;
    justify-content: center;
    align-content: center;
}

.file1 {
    display: flex;
    margin-bottom: 20px;
}

.fa-caret-square-up {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 3.8rem;
    color: #007ced;
}

@media screen and (max-width: 768px) {
    .file-uploads {
        margin-left: 10vw;
        margin-right: 10vw;
        display:block;
    }

    .fa-caret-square-up {
        font-size: 2.8rem;
    }
}